html{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #5e5e5e;
}

a:hover{
    text-decoration: underline;
}

.row{
    flex-direction: row;
}

.col{
    flex-direction: column;
}

nav{
    font-size: 14px;
    padding: 20px 20px 0px 20px;
    width: 100%;
    box-sizing: border-box;
}

.nrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ncol{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer{
    font-size: 14px;
    padding: 20px 20px 20px 20px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.frow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fcol{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.signin{
    display: flex;
    width: 50px;
    height: 25px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #4583eb;
    border-radius: 2.5px;
}

.container{
    display: block;
}

.search{
    text-align: center;
}

.logo{
    padding-top: 150px;
    padding-bottom: 25px;
}

@media(max-width: 600px){
    input{
        max-width: 80%;
        height: auto;
    }
    .logo{
        max-width: 80%;
        height: auto;
    }
}

input{
    border-radius: 20px;
    width: 500px;
    height: 40px;
    border: #dfe1e5 solid 0.5px;
    outline: none;
}

input:hover{
    box-shadow: 0px 0px 3px 1px #aaaaaa;
}

.search-img{
    background-image: url("/images/search.svg");
    position: left;
    padding-left: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
}

.microphone-img{
    background-image: url("/images/microphone.svg");
    position: right;
    padding-right: 10px;
    background-size: 20px;
    background-repeat: no-repeat;
}

button{
    background-color: #f4f4f4;
    color: #5e5e5e;
    border: none;
    border-radius: 2.5px;
    height: 35px;
    width: 150px;
    margin-top: 30px;
}

button:hover{
    color: black;
    border: black solid 1px;
}

