a{
    text-decoration: none;
    color: #5e5e5e;
}

a:hover{
    text-decoration: underline;
}

nav{
    display: grid;
    grid-template-columns: 400px 400px;
    column-gap: 1300px;
    font-size: 14px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.signin{
    color: white;
    background-color: #4583eb;
    border-radius: 2.5px;
}

.container{
    display: block;
}



.search{
    text-align: center;
}

.logo{
    padding-top: 200px;
    padding-bottom: 50px;
}

input{
    border-radius: 10px;
}

button{
    background-color: #f4f4f4;
    color: #5e5e5e;
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 150px;
}

button:hover{
    color: black;
    border: black solid 1px;
}

footer{
    display: grid;
    grid-template-columns: 400px 400px;
    column-gap: 1300px;
    font-size: 14px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
}